.product{
    display:flex;
    flex-direction: column;
}
.product-box{
    display: flex;
    width: 93%;
    padding: 50px;
    border-bottom: 1px solid gray;
}
.product-img img{
    width: 200px;
    height: 200px;
}
.product-des{
    width: 70%;
}
.product-des div p{
    font-size: 1.2em;
    font-weight: 500;
}
.product-des button{
    padding: 10px;
    background-color: rgb(151, 2, 2);
    color: white;
margin-top: 50px;
    border:none;
}